server:
  port: 2481
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/tender
    username: postgres
    password: cyberhack25
#    url: jdbc:postgresql://192.168.222.171:5432/tender
#    username: test
#    password: root123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        enable_lazy_load_no_trans: true

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

logging:
  file:
    name: tenders.log

app:
  rest-template:
    username: "admin@mail.com"
    password: "password"
    url-send-sms: "https://apistender-test1.mc.uz/api/send-sms-to-lot-user"
    url-get-role: "https://apistender-test1.mc.uz/api/get-role-of-lot-user"

  basic-auth:
    username: tender
    password: customer_password

  basic-auth-offeror:
    username: tender
    password: offeror_password

